@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto:700');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 11pt;
  color: #666666;
  padding-left: 24px;
  line-height: 1.8;
}
h1 {
  color: #283592;
  font-size: 34pt;
}
h2 {
  color: #e01b84;
  font-size: 20pt;
}
img {
  max-width: 50%;
}
.logo-heading {
  font-weight: bold;
  font-size: 20pt;
  color: #6d64e8;
}
.date {
  color: #e01b84;
  font-size: 11pt;
}
.channel {
  padding: 0.508cm;
  background-color: #efefef;
  font-size: 12pt;
  width: 7.858cm;
}
.hashtags {
  color: #0000ff;
  font-weight: bold;
}
.caption {
  font-size: 9pt;
  font-style: italic;
}
.splash {
  max-width: 100%;
}
code {
  background: #f4f5f6;
  border: 1px solid #e3e6e8;
  padding: 0 .5rem;
  color: #454f54;
  line-height: 1.8;
  border-radius: 2px;
}
.illus {
  list-style: none;
}
footer {
  color: #808080;
  font-style: italic;
}
footer a {
  color: #BEBEBE;
}
@media (min-width: 40.0rem) {
  body {
    max-width: calc(900px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
  }
}
